<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title || "" %></title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "site" %>
    <script src="https://use.typekit.net/ubz5xau.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body class="<%= page_classes %>">
    <header id="header">
      <div class="mobile-links">
        <%= link_to 'talent', '/talent.html', :class => 'talent' %>
        <%= link_to 'about', '/about.html', :class => 'about' %>

        <div id="mobile-button" class="layered-logo mobile">
          <%= image_tag '1-logo-purple.svg', :class => 'logo-layer'%>
          <%= image_tag '2-logo-blue.svg', :class => 'logo-layer'%>
          <%= image_tag '3-logo-green.svg', :class => 'logo-layer'%>
          <%= image_tag '4-logo-yellow.svg', :class => 'logo-layer'%>
          <%= image_tag '5-logo-orange.svg', :class => 'logo-layer'%>
          <%= image_tag '6-logo-red.svg', :class => 'logo-layer'%>
        </div>

        <%= link_to 'creative', '/creative.html', :class => 'creative' %>
        <%= link_to 'contact', '/contact.html', :class => 'contact' %>
      </div>

      <a class="wordmark-home desktop" href="/">
        <%= image_tag 'expand-wordmark.svg', :class => 'wordmark'%>
      </a>
      <a class="layered-logo desktop" data-behavior="toggle-talent">
        <%= image_tag '1-logo-purple.svg', :class => 'logo-layer'%>
        <%= image_tag '2-logo-blue.svg', :class => 'logo-layer'%>
        <%= image_tag '3-logo-green.svg', :class => 'logo-layer'%>
        <%= image_tag '4-logo-yellow.svg', :class => 'logo-layer'%>
        <%= image_tag '5-logo-orange.svg', :class => 'logo-layer'%>
        <%= image_tag '6-logo-red.svg', :class => 'logo-layer'%>
      </a>
    </header>
    <%= yield %>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  <%= javascript_include_tag "site" %>
  <script>$(function($){ Expand.initialize(); });</script>
  <!-- <script type="text/javascript">
    window.addEventListener('load', function() {
        var element = document.getElementById('homepage');
        var hammertime = Hammer(element).on("tap", function(event) {
          var linkContainer = document.getElementById('home-container');
          linkContainer.classList.add('expanded');
        })
    }, false);
  </script> -->
</html>
