---
title: Talent Landing
---

<div class="talent-detail">
  <div class="container">
    <div class="profile-row" style="background:<%= talentProfile.backgroundColor %>">
      <div class="left-col">
        <div class="info-box">
          <h2><%= talentProfile.fullName %></h2>
          <p class="bio"><%= talentProfile.talentBio %></p>
          <ul class="links">
            <% talentProfile.talentLinks.each do |link| %>
              <li><a target="_blank" href="<%= link %>">link</a></li>
            <% end %>
          </ul>
          <ul class="social">
            <% talentProfile.socialMediaMetrics.each do |link| %>
              <li><%= link %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="right-col">
        <div class="main-image">
          <img src=<%= talentProfile.mainImage['url'] %> />
        </div>
      </div>
    </div>
  </div>
</div>
