---
title: Talent Landing
---
<% color = talentProfile.backgroundColor %>
<% if color === '#b06473' %>
  <% hoverColor = 'tapestry' %>
<% end %>

<div class="bio-section">
  <div class="bio-wrapper">
    <div class="bio-image">
      <img src=<%= talentProfile.mainImage['url'] %> />
      <div class="bio-text">
        <h1><%= talentProfile.fullName %></h1>
        <p class="bio"><span class="tab"></span><%= talentProfile.talentBio %></p>

        <div class="specs">
          <% if talentProfile.linkTypes %>
            <ul class="link-urls">
              <% talentProfile.linkTypes.zip(talentProfile.urlsForLinks).each do |link, url| %>
                <li>
                  <a class="<%= hoverColor %>" target="_blank" href="<%= url %>">
                    <p><%= link %></p>
                  </a>
                </li>
              <% end %>
            </ul>
          <% end %>
          <% if talentProfile.socialMediaTypes %>
            <ul class="media-types titles">
              <% talentProfile.socialMediaTypes.each do |type| %>
                <li>
                  <%= type %>
                </li>
              <% end %>
            </ul>
            <ul class="media-types numbers">
              <% talentProfile.socialMediaNumbers.each do |type| %>
                <li class="<%= hoverColor %>" style="color: <%= talentProfile.backgroundColor %>;">
                  <%= type %>
                </li>
              <% end %>
            </ul>

            <ul class="media-types">
              <% talentProfile.socialMediaNumberType.each do |type| %>
                <li>
                  <%= type %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <div class="bio-name"><%= talentProfile.fullName %></div>
  </div>

  <div class="bio-wrapper for-mobile">
    <div class="specs">
      <% if talentProfile.linkTypes %>
        <ul class="link-urls">
          <% talentProfile.linkTypes.zip(talentProfile.urlsForLinks).each do |link, url| %>
            <li>
              <a class="<%= hoverColor %>" target="_blank" href="<%= url %>">
                <p><%= link %></p>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
      <% if talentProfile.socialMediaTypes %>
        <ul class="media-types titles">
          <% talentProfile.socialMediaTypes.each do |type| %>
            <li>
              <%= type %>
            </li>
          <% end %>
        </ul>
        <ul class="media-types numbers">
          <% talentProfile.socialMediaNumbers.each do |type| %>
            <li class="<%= hoverColor %>" style="color: <%= talentProfile.backgroundColor %>;">
              <%= type %>
            </li>
          <% end %>
        </ul>

        <ul class="media-types">
          <% talentProfile.socialMediaNumberType.each do |type| %>
            <li>
              <%= type %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
