---
title: Talent Landing
---

<div class="talent-detail">
  <div class="container">
    <div class="profile-row">
      <div class="left-col">
        <div class="info-box">
          <h2><%= profile.fullName %></h2>
          <ul>
            <li>Website</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Facebook</li>
          </ul>
          <p class="bio"><%= profile.bio %></p>
          <ul>
            <% profile.links.each do |link| %>
              <li><%= link %></li>
            <% end %>
          </ul>
          <ul>
            <% profile.socialMediaMetrics.each do |link| %>
              <li><%= link %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="right-col">
        <div class="main-image">
          <img src=<%= profile.mainPhoto['url'] %> />
        </div>
      </div>
    </div>
  </div>
</div>
