---
title: Talent Landing
---
<% color = talentProfile.backgroundColor %>
<% if color === '#C0686C' %>
  <% hoverColor = 'rose' %>
<% end %>
<% if color === '#964447' %>
  <% hoverColor = 'blush-rose' %>
<% end %>
<% if color === '#721014' %>
  <% hoverColor = 'crimson' %>
<% end %>
<% if color === '#952221' %>
  <% hoverColor = 'carmine' %>
<% end %>
<% if color === '#BB5827' %>
  <% hoverColor = 'orange' %>
<% end %>
<% if color === '#CB7329' %>
  <% hoverColor = 'tangerine' %>
<% end %>
<% if color === '#D9A628' %>
  <% hoverColor = 'golden-rod' %>
<% end %>
<% if color === '#F7DA37' %>
  <% hoverColor = 'lemon' %>
<% end %>
<% if color === '#146A3A' %>
  <% hoverColor = 'kermit' %>
<% end %>
<% if color === '#224337' %>
  <% hoverColor = 'hunter' %>
<% end %>
<% if color === '#25295F' %>
  <% hoverColor = 'navy' %>
<% end %>
<% if color === '#13648F' %>
  <% hoverColor = 'marine' %>
<% end %>
<% if color === '#7A99B3' %>
  <% hoverColor = 'robin-egg' %>
<% end %>
<% if color === '#42174C' %>
  <% hoverColor = 'deep-purple' %>
<% end %>
<% if color === '#9A799B' %>
  <% hoverColor = 'lilac' %>
<% end %>
<% if color === '#7A5BA6' %>
  <% hoverColor = 'lavender' %>
<% end %>

<div class="bio-section">
  <div class="bio-wrapper">
    <div class="bio-image">
      <img src=<%= talentProfile.mainImage['url'] %> />
      <div class="border-el <%= hoverColor %>"></div>
      <div class="bio-text">
        <h1><%= talentProfile.fullName %></h1>

        <div class="specs">
          <% if talentProfile.linkTypes %>
            <ul class="link-urls">
              <% talentProfile.linkTypes.zip(talentProfile.urlsForLinks).each do |link, url| %>
                <li>
                  <a class="<%= hoverColor %>" target="_blank" href="http://<%= url %>">
                    <p><%= link %></p>
                  </a>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>

        <div class="bio <%= hoverColor %>">
          <span class="tab"></span>
          <%= markdown(talentProfile.talentBio) %>
        </div>
        <div class="specs">

          <% if talentProfile.socialMediaTypes %>
            <ul class="media-types titles">
              <% talentProfile.socialMediaTypes.each do |type| %>
                <li>
                  <%= type %>
                </li>
              <% end %>
            </ul>
            <ul class="media-types numbers">
              <% talentProfile.socialMediaNumbers.each do |type| %>
                <li class="<%= hoverColor %>" style="color: <%= talentProfile.backgroundColor %>;">
                  <%= type %>
                </li>
              <% end %>
            </ul>
            <ul class="media-types metric">
              <% talentProfile.socialMediaNumberType.each do |type| %>
                <li>
                  <%= type %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <div class="bio-name">
      <h2><%= talentProfile.fullName %></h2>

      <div class="mobile-specs">
        <div class="specs">
          <% if talentProfile.socialMediaTypes %>
            <ul class="media-types titles">
              <% talentProfile.socialMediaTypes.each do |type| %>
                <li>
                  <%= type %>
                </li>
              <% end %>
            </ul>
            <ul class="media-types numbers">
              <% talentProfile.socialMediaNumbers.each do |type| %>
                <li class="<%= hoverColor %>" style="color: <%= talentProfile.backgroundColor %>;">
                  <%= type %>
                </li>
              <% end %>
            </ul>
            <ul class="media-types metric">
              <% talentProfile.socialMediaNumberType.each do |type| %>
                <li>
                  <%= type %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
