---
title: Talent Landing
---

<div class="talent-detail">
  <div class="container">
    <div class="profile-row" style="background:<%= talentProfile.backgroundColor %>">
      <div class="left-col">
        <div class="info-box">
          <h2><%= talentProfile.fullName %></h2>

          <% if talentProfile.linkTypes %>
            <ul class="link-urls">
              <% talentProfile.linkTypes.zip(talentProfile.urlsForLinks).each do |link, url| %>
                <li>
                  <a target="_blank" href="<%= url %>">
                    <p><%= link %></p>
                  </a>
                </li>
              <% end %>
            </ul>
          <% end %>

          <p class="bio"><%= talentProfile.talentBio %></p>

          <% if talentProfile.socialMediaTypes %>
            <ul class="media-types">
              <% talentProfile.socialMediaTypes.each do |type| %>
                <li>
                  <%= type %>
                </li>
              <% end %>
            </ul>

            <ul class="media-types">
              <% talentProfile.socialMediaNumbers.each do |type| %>
                <li>
                  <%= type %>
                </li>
              <% end %>
            </ul>

            <ul class="media-types">
              <% talentProfile.socialMediaNumberType.each do |type| %>
                <li>
                  <%= type %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>

      <div class="right-col">
        <div class="main-image">
          <img src=<%= talentProfile.mainImage['url'] %> />
        </div>
      </div>
    </div>
  </div>
</div>
