---
title: Expand Entertainment
---

<div id="initial-load">
  <div class="cover">
    <%= image_tag 'expand-logo.svg', :class => 'logo'%>
    <%= image_tag 'expand-wordmark.svg', :class => 'wordmark'%>
  </div>
</div>
<div id="homepage" class="homepage">
  <div id="home-container" class="container">
    <div class="home-links">
      <%= link_to 'creators', '/talent.html', :class => 'talent' %>
      <%= link_to 'about', '/about.html', :class => 'about' %>
      <%= link_to 'projects', '/creative.html', :class => 'creative' %>
      <%= link_to 'contact', '/contact.html', :class => 'contact' %>
      <%= image_tag 'expanded-amoeba.png', :class => 'expanded-amoeba'%>
    </div>
  </div>
  <p class="tagline">talent management for <br/>the next generation of creators</p>
</div>
