---
title: Talent Landing
---


<div class="content talent">

  <div class="right-toggle">
    <div id="toggle" data-behavior="toggle-talent" class="toggle-talent">toggle</div>
  </div>

  <div class="container talent-container">
    <div class="row for-grid">
      <% data.website.talentProfile.each do |id, talentProfile| %>
        <a id="<%= talentProfile['slug'] %>" href="profile/<%= talentProfile['slug'] %>.html" class="grid-item">
          <h2><%= talentProfile['fullName'] %></h2>
          <div class="profile-image">
            <img src=<%= talentProfile.mainImage['url'] %> />
          </div>
        </a>
      <% end %>
    </div>

    <div class="row for-list">
      <% data.website.talentProfile.each do |id, talentProfile| %>
        <a href="profile/<%= talentProfile['slug'] %>.html" class="grid-item">
          <h2><%= talentProfile['fullName'] %></h2>
        </a>
      <% end %>
    </div>
  </div>
</div>
